.git
.runtime
.data
.bench
logs
*.log
*.pid
*.sql
remote_local_deploy
uploads
docs
web-player
示例图片
*.tar
*.tar.gz
.env*
!*.example
configs/config.docker.generated.yaml
music_server
auth_server
catalog_server
profile_server
media_server
video_server
event_worker
migrator
media_indexer
profile
monolith
